/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017.03.04., 15:16:48
    Author     : Ildi
*/
html{
    background-color: #eeeeee;
}

body{
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    background-color: #fff;
    border-color: #999;
    border-left: 1px solid;
    border-right: 1px solid;
}

.terkozos{
    margin:5px;
}

.terkozos2{
    margin-top:5px;
    margin-bottom:5px;
    margin-left: 5px;
}

.nagyobb{
    font-size: 14px;
    text-align: right;
    padding-top:15px;
}

.footer{
    background-color: #008CBA;
    margin-top: 50px;
    padding:5px;
    text-align: center;
    color: white !important;
}

h1, h2{
    color: #999;
}


table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 10%;
}

td, th {
    border: 1px solid #999;
    padding: 0.7rem;
    text-align: center;
}


